.App {
  text-align: left;
  padding-left: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*######################################################## */

legend {
  font-weight: bold;
}

.editor {
  width: 100%;
  height: auto;
}
.modeltype {
  width: 20%;
}

button {
  padding: 8px 16px;
  color: #282c34;
  background-color: white;
  border-color: #282c34;
  font-weight: bold;
}

input[type="file"] {
  background-color: #282c34;
  color: white;
  border-color: white;
}

pre {
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  max-width: 1000px;
}

.webcam {
  width: 348px;
  height: 278px;
  display: inline-block;
  box-sizing: border-box;
}

video {
  width: auto;
}

#start-camera {
  display: inline-block;
  box-sizing: border-box;
}
#stop-camera {
  display: inline-block;
  box-sizing: border-box;
}

.results {
  width: 348px;
  height: 278px;
  display: inline-block;
  box-sizing: border-box;
}

.option {
  margin-bottom: 8px;
}
img {
  border-color: #ffff;
}

#media {
  max-width: 1280px;
}
#photo-media {
  margin: 0 auto;
  width: 100px;
  padding: 70px 0;
  text-align: center;
}

#timer {
  font-size: 150px;
  margin: 0 auto;
  width: 1000px;
}

#controls {
  margin: 0 auto;
  width: 600px;
}

#controls button {
  font-size: 24px;
}

#loader {
  margin: auto;
  top: 50%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
